.paragraph_style {
    color: rgb(1, 25, 147);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    padding: 14px;
}
.paragraph_style_1 {
    color: rgb(1, 25, 147);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(94, 94, 94);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(148, 17, 0);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.style_2 {
    color: rgb(1, 25, 147);
    line-height: 20px;
    opacity: 1.00;
}
.paragraph_style_4 {
    color: rgb(169, 169, 169);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    font-family: 'Helvetica-Oblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.style_4 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_5 {
    font-family: 'Helvetica-Oblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.style_6 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_7 {
    line-height: 14px;
}
.style_8 {
    color: rgb(33, 33, 33);
    line-height: 14px;
    opacity: 1.00;
}
.style_9 {
    color: rgb(33, 33, 33);
    line-height: 14px;
    opacity: 1.00;
}
.style_10 {
    font-family: 'Helvetica-Oblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.style_11 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_12 {
    line-height: 14px;
}
.paragraph_style_8 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.style_13 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.style_14 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_15 {
    line-height: 14px;
}
.paragraph_style_9 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_16 {
    line-height: 14px;
}
.style_17 {
    line-height: 14px;
}
.style_18 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_19 {
    line-height: 14px;
}
.style_20 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 8px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    vertical-align: -1px;
}
.paragraph_style_10 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.style_21 {
    line-height: 14px;
}
.paragraph_style_11 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.paragraph_style_12 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica-Oblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.style_22 {
    font-family: 'Helvetica-BoldOblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 14px;
}
.paragraph_style_14 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.style_23 {
    line-height: 14px;
    vertical-align: 3px;
}
.paragraph_style_15 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.paragraph_style_16 {
    color: rgb(33, 33, 33);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.paragraph_style_17 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 21px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: -21px;
    text-transform: none;
}
.style_24 {
    line-height: 14px;
}
.style_25 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.style_26 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.style_27 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.paragraph_style_18 {
    color: rgb(94, 94, 94);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_External_1001_5590 {
    position: relative;
}
.Body {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: rgb(255, 255, 255);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_620_41 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_1001_5590 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_190_31 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1 {
    color: rgb(148, 17, 0);
}
a.class1:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class2 {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(0, 0, 0);
}
a.class2:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class3 {
    text-decoration: none;
}
a.class3:visited {
    text-decoration: none;
}
a.class3:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget3 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget14 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget6 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget14 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget5 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget8 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget11 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget0 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget16 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget7 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget9 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget8 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget8 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget16 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget12 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget12 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget5 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget11 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget15 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget2 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget4 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget13 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget13 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget7 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget7 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget13 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget3 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget16 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget15 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget4 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget10 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget0 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget10 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget14 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget6 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget1 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget1 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget9 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget2 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget9 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget4 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget10 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget15 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget3 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget6 a {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget12 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget2 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget5 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget11 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
